<div>
    <h2>Courses</h2>
    
    <div class="form-group row">
        <label for="" class="col-sm-2 col-from-label">Filter By</label>   
        <div class="col-sm-10">
            <input [(ngModel)]="filter" class="form-control">
        </div>
    </div>
    
    <table class="table table-striped">
        <thead class="">
            <td>Image</td>
            <td>Name</td>
            <td>Price</td>
            <td>Code</td>
            <td>Released At</td>
            <td>Rating</td>
            <td>Options</td>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses   ">
                <td><img [src]="course.imageUrl" id="courseImage"/></td>
                <td>{{ course.name }}</td>
                <td>R$ {{ course.price }}</td>
                <td>{{ course.code }}</td>
                <td>{{ course.releaseDate }}</td>
                <td>
                    <app-star [rating]="course.rating"></app-star>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>