<div>
    <h2>Courses</h2>

    <table class="table table-striped">
        <thead class="">
            <td>Image</td>
            <td>Name</td>
            <td>Price</td>
            <td>Code</td>
            <td>Released At</td>
            <td>Rating</td>
            <td>Options</td>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td><img [src]="course.imageUrl" id="courseImage"/></td>
                <td>{{ course.name }}</td>
                <td>R$ {{ course.price }}</td>
                <td>{{ course.code }}</td>
                <td>{{ course.releaseDate }}</td>
                <td>
                    <app-star [rating]="course.rating   "></app-star>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>